<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 15px">

# Project 1: Python Coding Exercises



---

The following code challenges are drawn from common exercises used in technical interviews.

Please note that there may be several ways to approach each challenge. If you get stuck, try mapping out your approach in pseudocode first. Finally, while solutions to problems like these may be found online, remember that if you copy/paste code that you can't explain, you'll be missing out on the point of the project. The only way to truly learn a new skill is through practice, trial, and error - we can only help you improve by understanding where you are having trouble.

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [1]:
def check_palindrome(number):
    """
    return True if a number is palindrome
    """
    
    ln = len(str(number))
    test_n = number
    rev_n = 0
    
    # reverse the number by looping through all digits of given number
    for i in range(1,ln+1):   
        rev_n += (test_n % 10) * 10**(len(str(test_n))-1)     
        test_n = test_n // 10
    
    # if reversed number equals to original number, it is palindrome number     
    if number == rev_n:
        return True

In [2]:
# get 3-digit numbers --> range(100,1000)

pal_list = []
for x in range(100,1000):
    # multiply 2 numbers 
    for y in range(x,1000):
        product = x * y
        # check and append list if pro is palindrome
        if check_palindrome(product):
            pal_list.append(product)

In [3]:
max(pal_list)

906609


### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [3]:
def sum_primes(number):
    """
    primes is a number that is divisible only by itself and 1 (e.g. 2, 3, 5, 7, 11)
    return sum of all prime numbers below the given number
    """
    
    # initialise a variable  
    # 2 is the smallest and unique prime which will be ignored by below loop 
    sum_of_primes = 2
    
    for n in range(3, number + 1):
        # only need to loop through numbers that are smaller than n
        # excludes 1 and n itself
        for i in range(2, n):
            # once ditect n is dividable by i, n is not prime
            # assign n to value 0 or i            
            # break the loop              
            if n % i == 0:
                n = 0
                break
                
        # only if the loop did not break, add up primes           
        if n != 0:
            sum_of_primes += n
            
    return sum_of_primes

In [4]:
sum_primes(2000)

277050

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [6]:
# loop through numbers under 1000
# check if numbers are dividable by 3 or 5
# add to list

targets = [num for num in range(1,1000) if num % 3 == 0 or num % 5 == 0]

sum(targets)

233168

### Challenge 4: String Compressor
Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [5]:
# case sensitive
def string_compressor(string):
    """
    return a string using the counts of repeated characters
    """
    
    # initiate new string with the very first character and its count
    # initiate a variable to store the count of character
    count = 1
    new_string = string[0] + str(count)
    
    # loop through each character in original string by index     
    for idx in range(1,len(string)):
        # check if the char is equal to the one before it
        # append new string with the pair of the char and its count 
        # if same char detected, remove last appended pair in the new string           
        if string[idx] == string[idx-1]:
            count += 1
            new_string = new_string[:-2] + string[idx] + str(count)
        else:
            count = 1
            new_string = new_string + string[idx] + str(count)
            
    # check if new string is smaller than original string
    # if not, return original string    
    if len(string) >= len(new_string):
        return new_string
    else:
        return string

In [6]:
string = 'A'
string_compressor(string)

'A'

In [9]:
string_test = 'aabcccccaaa'
string_compressor(string_test)

'a2b1c5a3'

In [10]:
# case insensitive
def string_compressor_insensitive(string):
    """
    return a string using the counts of repeated characters
    ignore capitals
    """
    
    # convert the string lowercase     
    lower_string = string.lower()
    count = 1
    new_string = lower_string[0] + str(count)

    for idx in range(1,len(string)):
        if lower_string[idx] == lower_string[idx-1]:
            count += 1
            new_string = new_string[:-2] + lower_string[idx] + str(count)
        else:
            count = 1
            new_string = new_string + lower_string[idx] + str(count)
    
    if len(string) >= len(new_string):
        return new_string
    else:
        return string

In [11]:
string_compressor_insensitive(string)

'a2b2c7a2'

In [12]:
string_compressor_insensitive(string_test)

'a2b1c5a3'

### Challenge 5: File Handling

##### Part - 1
Read the file named 'Diabetes.csv' available in the project folder.

In [13]:
import pandas as pd

In [14]:
# take the 4th row as columns
diabetes = pd.read_csv('./Diabetes.csv', header = 4)

In [15]:
# inspect the dataframe
diabetes.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,1,85,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN
1,1,8,183,64,0,0,23.3,0.672,32,NaN,NaN,51,NaN,NaN,NaN
2,0,1,89,66,23,94,28.1,0.167,21,NaN,Target(y/n),NaN,NaN,NaN,NaN
3,1,0,137,40,35,168,43.1,2.288,33,NaN,Y,Supervised,Discrete (Y/N,NaN,NaN
4,0,5,116,74,0,0,25.6,0.201,30,NaN,NaN,NaN,NaN,Y,Classification

In [16]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        767 non-null    int64
 1   times_pregnant  767 non-null    int64
 2   glucose_conc    767 non-null    int64
 3   diastolic_BP    767 non-null    int64
 4   triceps_thk     767 non-null    int64
 5   2_hr_insulin    767 non-null    int64
 6   bmi             767 non-null    float64
 7   pedigree        767 non-null    float64
 8   age             767 non-null    int64
 9   Unnamed: 9      1 non-null      object
 10  Unnamed: 10     3 non-null      object
 11  Unnamed: 11     3 non-null      object
 12  Unnamed: 12     4 non-null      object
 13  Unnamed: 13     2 non-null      object
 14  Unnamed: 14     2 non-null      object
dtypes: float64(2), int64(7), object(6)
memory usage: 90.0+ KB

In [17]:
# drop columns 9 and onwards
diabetes = diabetes.iloc[:, :9]

In [18]:
diabetes.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age
0,0,1,85,66,29,0,26.6,0.351,31
1,1,8,183,64,0,0,23.3,0.672,32
2,0,1,89,66,23,94,28.1,0.167,21
3,1,0,137,40,35,168,43.1,2.288,33
4,0,5,116,74,0,0,25.6,0.201,30

##### Part - 2
- Check if the value for 'glucose_conc' is less than 100.
- Create a new column named 'prediction'.
- If the glucose_conc level is less than 100 then your prediction for that row will be 0 otherwise 1.

In [19]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        767 non-null    int64
 1   times_pregnant  767 non-null    int64
 2   glucose_conc    767 non-null    int64
 3   diastolic_BP    767 non-null    int64
 4   triceps_thk     767 non-null    int64
 5   2_hr_insulin    767 non-null    int64
 6   bmi             767 non-null    float64
 7   pedigree        767 non-null    float64
 8   age             767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [20]:
# create a list by condition
predictions = [0 if i < 100 else 1 for i in diabetes['glucose_conc'] ]

In [21]:
# create a new column and fill with the list
diabetes['prediction'] = predictions
diabetes.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
0,0,1,85,66,29,0,26.6,0.351,31,0
1,1,8,183,64,0,0,23.3,0.672,32,1
2,0,1,89,66,23,94,28.1,0.167,21,0
3,1,0,137,40,35,168,43.1,2.288,33,1
4,0,5,116,74,0,0,25.6,0.201,30,1

##### Part - 3
Write the content of the 'Diabetes.csv' file along with 'prediction' values into a new file named 'Diabetes-with-predictions.csv'

In [22]:
diabetes.to_csv('Diabetes-with-predictions.csv')

### *BONUS* Challenge: Diabetes
- From the above file, find the min and max age.
- Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.
- For each age interval compute the average 'glucose_conc'.
- Write your computed data into a new file named 'average_glucose_by_age.csv'. This file should have two columns 'age_interval' and 'avg_glucose_conc'

In [23]:
min_age = diabetes['age'].min()
print (f'The min age in the dataset is {min_age}.')

The min age in the dataset is 21.

In [24]:
max_age = diabetes['age'].max()
print (f'The max age in the dataset is {max_age}.')

The max age in the dataset is 81.

In [25]:
type(max_age)

int

In [26]:
# slice out a new dataframe with age and glucose_conc info
glucose_by_age = diabetes[['age','glucose_conc']]
glucose_by_age.head(2)

   age  glucose_conc
0   31            85
1   32           183

In [27]:
glucose_by_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           767 non-null    int64
 1   glucose_conc  767 non-null    int64
dtypes: int64(2)
memory usage: 12.1 KB

In [28]:
# create 6 intervals of given age range
age_interval = pd.cut(glucose_by_age['age'], bins = 6)
age_interval

0      (20.94, 31.0]
1       (31.0, 41.0]
2      (20.94, 31.0]
3       (31.0, 41.0]
4      (20.94, 31.0]
           ...
762     (61.0, 71.0]
763    (20.94, 31.0]
764    (20.94, 31.0]
765     (41.0, 51.0]
766    (20.94, 31.0]
Name: age, Length: 767, dtype: category
Categories (6, interval[float64]): [(20.94, 31.0] < (31.0, 41.0] < (41.0, 51.0] < (51.0, 61.0] < (61.0, 71.0] < (71.0, 81.0]]

In [29]:
# to avoid error messsage in the new python version
pd.options.mode.chained_assignment = None

In [30]:
# append the dataframe with a new column
glucose_by_age['age_interval'] = age_interval

In [31]:
glucose_by_age.head()

   age  glucose_conc   age_interval
0   31            85  (20.94, 31.0]
1   32           183   (31.0, 41.0]
2   21            89  (20.94, 31.0]
3   33           137   (31.0, 41.0]
4   30           116  (20.94, 31.0]

In [32]:
# take average of glucose concentration by age group
glucose_by_age = pd.DataFrame(glucose_by_age.groupby('age_interval')['glucose_conc'].mean())
glucose_by_age.head()

               glucose_conc
age_interval
(20.94, 31.0]    114.870748
(31.0, 41.0]     126.470968
(41.0, 51.0]     125.561224
(51.0, 61.0]     140.187500
(61.0, 71.0]     137.000000

In [33]:
glucose_by_age.reset_index(inplace=True)

In [34]:
glucose_by_age.rename(columns = {'glucose_conc':'avg_glucose_conc'},inplace=True)

In [35]:
glucose_by_age

    age_interval  avg_glucose_conc
0  (20.94, 31.0]        114.870748
1   (31.0, 41.0]        126.470968
2   (41.0, 51.0]        125.561224
3   (51.0, 61.0]        140.187500
4   (61.0, 71.0]        137.000000
5   (71.0, 81.0]        126.500000

In [36]:
glucose_by_age.to_csv('average_glucose_by_age.csv')